@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./assets/bg.jpg");
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: "Poppins", sans-serif;
  background-size: cover;
  overflow: hidden;
}
/* main container */
.container {
  width: 65%;
  height: 100vh;
  /* background-color: aqua;  */
  position: relative;
  margin: 0 auto;
  top: 6vh;
}
/* logo div */
.logo {
  height: 60px;
}
#logoImg {
  height: 36px;
}
.content {
  text-align: center;
  margin-top: 10px;
  color: white;
  line-height: 45px;
}
h1 {
  font-size: 50px;
}
h4 {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 300;
}
.textContent {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
}
.leftDiv {
  position: relative;
  width: 25%;
  height: 100%;
  color: white;
  text-align: left;
}
.leftDiv h2:nth-child(1) {
  margin-top: 40%;
  font-size: 35px;
  font-weight: 400;
}
.leftDiv h2:nth-child(2) {
  font-size: 35px;
  font-weight: bolder;
}
.leftDiv h5 {
  letter-spacing: 1px;
}
.centerDiv {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: rgb(36, 36, 171);
}
.rightDiv {
  color: rgba(255, 255, 255, 0.715);
  position: relative;
  width: 25%;
  height: 100%;
  text-align: right;
}
.rightDiv h2:nth-child(1) {
  margin-top: 40%;
  font-size: 35px;
  font-weight: 400;
}
.rightDiv h2:nth-child(2) {
  font-size: 35px;
  font-weight: bolder;
}
.rightDiv h5 {
  letter-spacing: 1px;
}
